* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.nav-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-info img {
    width: 70px;
    height: 30px;
}

.nav-title {
    color: #0B0223;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-G {
    color: #FF42A5;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}

ul li img {
    width: 32px;
    height: 24px;
}

.nav-follow-img {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 8px;
}

/* Main section start */
/* online games */
.online-games {
    margin-top: 100px;
    text-align: center;
}

.section-title {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
}
.funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-description, .games-txt{
    color: #534C64;
    font-size: .9rem;
    font-weight: 400;
    line-height: 20px;
    margin-top: 7px;
}
.online-games-videos {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin: 50px 100px;
}
.games-photos img {
    max-width: 280px;
    height: 320px;
}
.games-txt {
    max-width: 280px;
    
}
/* play instantly  */
.play-instantly{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 50px 5px 200px;
    gap: 20px;
}
.instant-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-text{
    text-align: right;
}
.pl-image{
    max-width: 70%;
    margin-left: 100px;
}
.pl-takling-angle{
    max-width: 35%;
    height: auto;
    position: relative;
    bottom: 230px;
    /* height: 60%; */
}








/* Using  Media query for responsive */
/* Mobile device */

@media screen and (max-width: 576px) {

    .nav-container,
    .nav-items, .online-games-videos  {
        flex-direction: column;
        gap: 1rem;
    }
    .play-instantly{
        flex-direction: column-reverse;
        margin: 10px;
    }
    .online-games-videos, .games-txt {
        margin: 10px auto;
        text-align: center;
    }
    .section-title{
        font-size: 2rem;
    }
    .pl-image{
        max-width: 90%;
        margin-left: 45px;
    }
    .pl-takling-angle{
        max-width: 50%;
        position: relative;
        bottom: 90px;
    }

}

/* Tablet device */

@media screen and (min-width: 576px) and (max-width: 960px) {
    .nav-container, .online-games-videos  {
        flex-direction: column;
        gap: 1rem;
    }
    .play-instantly{
        flex-direction: column-reverse;
        margin: 10px 100px;
    }
    .pl-image{
        max-width: 70%;
        margin-left: 110px;
    }
    .pl-takling-angle{
        max-width: 50%;
        position: relative;
        bottom: 140px;
        /* height: 60%; */
    }
    
}